<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/MuhsinKamal/IdeaProjects/DataStructures-Algorithm">
        <classes>
            <class name="Easy.IsAnagramTest">
                <methods>
                    <include name="testisAnagramTrue"/>
                    <include name="testisAnagramMisMatchLength"/>
                    <include name="testisAnagramFalse"/>
                </methods>
            </class>
            <class name="Easy.PalindromeTest">
                <methods>
                    <include name="palindromeTrue"/>
                    <include name="palindromeFail"/>
                    <include name="palindromeNumberFalse"/>
                    <include name="palindromeNumberTrue"/>
                </methods>
            </class>
            <class name="Easy.TwoSumTest">
                <methods>
                    <include name="twoSumTrue"/>
                    <include name="twoSumInputWrong"/>
                    <include name="twoSumFirstLast"/>
                    <include name="twoSumSecondLast"/>
                </methods>
            </class>
            <class name="Easy.RomanToIntTest">
                <methods>
                    <include name="romanToIntTest1"/>
                    <include name="romanToIntTest2"/>
                    <include name="romanToIntTest3"/>
                </methods>
            </class>
            <class name="Easy.LongestCommonPrefixTest">
                <methods>
                    <include name="longestCommonPrefixTest1"/>
                    <include name="longestCommonPrefixTest2"/>
                </methods>
            </class>
            <class name="Easy.ValidExpressionTest">
                <methods>
                    <include name="validExpressionTest"/>
                    <include name="invalidExpressionTest"/>
                </methods>
            </class>
            <class name="Easy.SquareRootTest">
                <methods>
                    <include name="testSqrt1"/>
                    <include name="testSqrt2"/>
                    <include name="testSqrt3"/>
                </methods>
            </class>
            <class name="Easy.SudokoTest">
                <methods>
                    <include name="sudoTest"/>
                    <include name="sudoTest1"/>
                    <include name="sudoTest2"/>
                </methods>
            </class>
            <class name="Easy.MatrixDiagonaltest">
                <methods>
                    <include name="testDiagonal"/>
                </methods>
            </class>
            <class name="Easy.FibinocciTest">
                <methods>
                    <include name="fibTest1"/>
                </methods>
            </class>
            <class name="Easy.StaircaseTest">
                <methods>
                    <include name="stairTest"/>
                </methods>
            </class>
            <class name="Easy.ZerosTotLastTest">
                <methods>
                    <include name="testZeroLast"/>
                    <include name="testZeroLast1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>